{{ define "main" }}




{{ with site.Data.homepage.material }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto text-center">
        <h2>À propos de nous</h2>
        <br>
        <p>La société Derm Tech France est une PME avec un effectif de quatre salariés. DTF  conçoit et fabrique des dermopigments (esthétique, médical, ou encore stérile). Elle  commercialise du matériel de dermographie pour le maquillage permanent et pour le tatouage. (Dermographes «  pack laguna », aiguilles, cupules…). Nos produits disposent de la norme CE; ISO 9002. Depuis 2 ans aujourd’hui, DTF se développe rapidement dans le marché français et étranger</p>
        <br>
        <p><b>Aujourd’hui, Derm Tech France a une seule vision celui de satisfaire au mieux les besoins de nos clients en leur garantissant un produit de qualité.</b>
        Pour plus d'informations, veuillez nous contacter, n'oublier pas de lire nos <a href="http://localhost:1313/conditionsgenerales/">conditions générales </a>.</p>
      </div>
    </div>


</section>
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto text-center">
        <h2>Savoir faire et Valeurs</h2>
        <br>
        <p>Notre entreprise est imprégnée d’expériences , de compétences et d’une équipe soudée, dynamique et réactive apportant les réponses nécessaires aux besoins de nos clients.        </p>
        <p>Les valeurs essentielles de notre société reposent sur deux points:</p>
         <p><b> La confiance :</b> Nous sommes convaincu que la confiance est une source de réussite et que c’est par la confiance que se construit une relation durable tant envers nos clients, nos distributeurs que nos collaborateurs. Derm tech tente de développer ce climat afin de favoriser nos relations avec nos clients. 
          <b>La performance :</b> La performance de Derm Tech se traduit par sa capacité à répondre aux besoins spécifiques de nos clients, mais aussi en se fixant une priorité : celle de l’amélioration continue  dans la qualité de l’ensemble de nos produits.
          </p>
      </div>
    </div>
</section>

<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto text-center">
        <h2>Qualité</h2>
        <br>
        <p>
          Notre système de management de la qualité encadré par la norme ISO 9001:2008  et ISO 13485:2003 est l’outil de notre amélioration continue.<br>
          Il constitue un élément primordial sur lequel nous nous appuyons pour améliorer notre fonctionnement interne et en parallèle améliorer nos prestations.
        <br>
          Nous disposons également d’un marquage CE1014 de nos produits. <br>
          Notre organisme certificateur, EZU nous audite tous les ans.<br>
         <b>Objectifs:</b><br>
          - contrôler l’ensemble du système qualité et de l’évaluer au regard des dispositions légales.<br>
          - contrôler la bonne maîtrise des procédés et de contribuer à l’amélioration de la qualité.
        
        </p>
        
      </div>
    </div>
</section>

<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto text-center">
        <h2>Législation tatouages</h2>
        <br>
        <p>
          Afin de tenir informé notre aimable clientèle de la législation en vigueur,  Derm Tech France
vous propose de consulter les sites officiels en direct relatifs aux produits de tatouages.
        <br>
          <b>LEGIFRANCE :</b>
          <a href="http://www.legifrance.gouv.fr/affichSarde.do?reprise=true&page=1&idSarde=SARDOBJT00007105972&ordre=null&nature=null&g=ls">http://www.legifrance.gouv.fr/affichSarde.do?reprise=true&page=1&idSarde=SARDOBJT00007105972&ordre=null&nature=null&g=ls</a> <br>
         <b>VIGILANCE SUR LES PRODUITS DE TATOUAGES:</b>
         <a href="http://www.afssaps.fr/Activites/Vigilance-des-produits-de-tatouage/Vigilance-des-produits-de-tatouage/%28offset%29/0#pt">http://www.afssaps.fr/Activites/Vigilance-des-produits-de-tatouage/Vigilance-des-produits-de-tatouage/%28offset%29/0#pt </a><br>
        <b>ANSM :</b>
        <a href="http://www.ansm.sante.fr/Produits-de-sante/Produits-de-tatouage">http://www.ansm.sante.fr/Produits-de-sante/Produits-de-tatouage</a><br>
        <b>DGCCRF:</b>
        <a href="http://www.economie.gouv.fr/dgccrf">http://www.economie.gouv.fr/dgccrf</a>
        </p>
      </div>
    </div>
</section>

<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto text-center">
        <h2>Législation dispositifs médicaux</h2>
        <br>
        <p>
          Afin de tenir informé notre aimable clientèle de la législation en vigueur,  Derm Tech France
          vous propose de consulter les sites officiels en direct relatifs aux dispositifs médicaux.           
        <br>
          <b>LEGIFRANCE :</b>
          <a href="http://www.legifrance.gouv.fr/affichCodeArticle.do;jsessionid=58DB0EC0FCF6642452FE66267CF11C2F.tpdjo06v_2?cidTexte=LEGITEXT000006072665&idArticle=LEGIARTI000006690281&dateTexte=&categorieLien=cid">http://www.legifrance.gouv.fr/affichCodeArticle.do;jsessionid=58DB0EC0FCF6642452FE66267CF11C2F.tpdjo06v_2?cidTexte=LEGITEXT000006072665&idArticle=LEGIARTI000006690281&dateTexte=&categorieLien=cid</a> <br>
        <b>ANSM :</b>
        <a href="http://ansm.sante.fr/Activites/Dispositifs-medicaux-et-dispositifs-medicaux-de-diagnostic-in-vitro/Essais-cliniques-portant-sur-les-dispositifs-medicaux-et-dispositifs-medicaux-de-diagnostic-in-vitro/%28offset%29/0">http://ansm.sante.fr/Activites/Dispositifs-medicaux-et-dispositifs-medicaux-de-diagnostic-in-vitro/Essais-cliniques-portant-sur-les-dispositifs-medicaux-et-dispositifs-medicaux-de-diagnostic-in-vitro/%28offset%29/0</a><br>
        </p>
      </div>
    </div>
</section>

<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto text-center">
        <h2>Certificats</h2>
        <p>       
          <a href="/link/CERTIFICATISO134852020.pdf"><b>Certificat ISO</b></a> <br>
        <a href="/link/Certificat de marquage BlueLift-DeepBlue.pdf"><b>Certificat de marquage</b></a><br>
        <a href="/link/CERTIFICATCECENDERSSTERIMARKETINPREL2021.pdf"><b>Certificat de Cenders</b></a>
        </p>
        <br>
        <br>
      </div>
    </div>
</section>

{{ end }}





{{ if site.Data.homepage.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}

{{ end }}
